[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=terminator
Icon[fr_FR]=terminator
Name[fr_FR]=grande-echelle
Exec=sh /media/data/3D/projets/grande_echelle/run_grande_echelle_gui.sh
Name=grande-echelle
