attrs==21.2.0
Automat==20.2.0
beautifulsoup4==4.9.3
Brlapi==0.8.2
cajarename==20.1.26
certifi==2020.6.20
chardet==4.0.0
colorama==0.4.4
colour==0.1.5
configobj==5.0.6
constantly==15.1.0
cupshelpers==1.0
daemonize==2.4.7
dbus-python==1.2.16
distro==1.5.0
distro-info==1.0
docutils==0.17.1
evdev==1.4.0
html5lib==1.1
httplib2==0.18.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
Kivy==2.0.0
Kivy-Garden==0.1.4
louis==3.16.0
lxml==4.6.3
Markdown==3.3.4
Markups==3.1.1
mate-menu==20.4.1
mate-tweak==21.4.2
notify2==0.3
numpy==1.19.5
olefile==0.46
opencv-python==4.5.3.56
openshot-qt==2.5.1
oscpy==0.6.0
pdfarranger==1.6.2
pikepdf==1.17.3+dfsg
Pillow==8.1.2
psutil==5.8.0
pycairo==1.16.2
pycoral==2.0.0
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
Pygments==2.10.0
PyGObject==3.38.0
pynput==1.7.5
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.2
pyrealsense2==2.49.0.3474
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
python-markdown-math==0.8
python-xlib==0.29
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.11.13
reportbug==7.10.3+deb11u1
requests==2.25.1
ReText==7.2.1
roman==2.0.0
scour==0.38.2
setproctitle==1.2.1
six==1.16.0
soupsieve==2.2.1
terminator==2.1.0
textile==4.0.1
tflite-runtime==2.5.0.post1
tk==0.1.0
Twisted==21.7.0
typing-extensions==3.10.0.2
unattended-upgrades==0.1
urllib3==1.26.5
webencodings==0.5.1
xdg==5
zope.interface==5.4.0
