beautifulsoup4==4.9.3
Brlapi==0.8.2
cajarename==20.1.26
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
colorama==0.4.4
colour==0.1.5
configobj==5.0.6
cupshelpers==1.0
cycler==0.11.0
daemonize==2.4.7
dbus-python==1.2.16
distro==1.5.0
distro-info==1.0
docutils==0.18.1
evdev==1.4.0
feedparser==5.2.1
fonttools==4.28.2
html5lib==1.1
httplib2==0.18.1
idna==3.3
key-mapper==1.2.2
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.3.2
louis==3.16.0
lxml==4.6.3
Mako==1.1.3
Markdown==3.3.4
Markups==3.1.1
MarkupSafe==1.1.1
mate-menu==20.4.1
mate-tweak==21.4.2
matplotlib==3.5.1
meld==3.20.2
musicbrainzngs==0.7.1
mutagen==1.45.1
notify2==0.3
numpy==1.21.4
olefile==0.46
opencv-python==4.5.3.56
openshot-qt==2.5.1
packaging==21.3
pdfarranger==1.6.2
pikepdf==1.17.3+dfsg
Pillow==8.1.2
psutil==5.8.0
pycairo==1.16.2
pycoral==2.0.0
pycups==2.0.1
pycurl==7.43.0.6
pydbus==0.6.0
pyenchant==3.2.0
Pygments==2.10.0
PyGObject==3.38.0
pyinotify==0.9.6
pynput==1.7.5
pyparsing==3.0.6
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyrealsense2==2.50.0.3812
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-markdown-math==0.8
python-xlib==0.31
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.3.1
pyzmq==20.0.0
quodlibet==4.3.0
regex==2020.11.13
reportbug==7.10.3+deb11u1
requests==2.26.0
roman==2.0.0
scipy==1.7.3
scour==0.38.2
setproctitle==1.2.1
setuptools-scm==6.3.2
simple-pid==1.0.1
sip==6.5.1
six==1.16.0
soupsieve==2.2.1
terminator==2.1.0
tesserocr==2.5.2
textile==4.0.1
tflite-runtime==2.5.0.post1
toml==0.10.2
tomli==1.2.2
unattended-upgrades==0.1
urllib3==1.26.7
webencodings==0.5.1
xdg==5
Yapps2==2.2.1
