certifi==2021.10.8
charset-normalizer==2.0.8
docutils==0.18.1
evdev==1.4.0
idna==3.3
Kivy==2.0.0
Kivy-Garden==0.1.4
numpy==1.21.4
opencv-python==4.5.3.56
Pygments==2.10.0
pynput==1.7.5
pyrealsense2==2.50.0.3812
python-xlib==0.31
requests==2.26.0
six==1.16.0
urllib3==1.26.7
